@font-face {
    font-family: Main;
    src: url(fonts/DMSans-Regular.ttf);
}

*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: Main;
    padding: 0px;
    margin: 0px;
}

a{
    all: unset;
}

/*Nav Styles*/
nav{
    width: 100%;
    height: 72px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
}

.nav--logo{
    height: 16px;
    width: auto;
    pointer-events: none;
}

.nav--links{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav--link{
    transition: color 0.15s ease;
}

.nav--link:hover{
    color: #B3B3B3;
}

.nav--link{
    margin: 37px;
    cursor: pointer;
}

.mainButton{
    all: unset;
    cursor: pointer;
}

.nav--button{
    background-color: black;
    color: white;
    padding: 12px 24px 12px 24px;
    transition: 0.15s ease;
}

.nav--button:hover{
    background-color: #DFDFDF;
    color: black;
}

.hamburgerMenu{
    width: 20px;
    height: 6px;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.hamburgerMenu>span{
    display: block;
    content: "";
    height: 1px;
    background-color: black;
    width: 100%;
    transform-origin: 50% 50%;
    position: absolute;
    transition: 0.2s ease;
}

.span1{
    top: 0px;
}

.span2{
    bottom: 0px;
}

.span1Active{
    transform: rotate(45deg) translateY(-50%);
    top: 50%;
}

.span2Active{
    transform: rotate(-45deg) translateY(-50%);
    top: 50%;
}

.mobile{
    display: none;
}

.mobileNav{
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    letter-spacing: 2.5px;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s ease;
    font-weight: bold;
}

.mobileNavActive{
    max-height: 100vh;
}

.separator{
    width: min(310px, 80%);
    background-color: #979797;
    height: 1px;
    border-radius: 3px;
}

.mobileNav:nth-child(2)>div>a>div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mobileNav> button{
    padding: 14px 68px 14px 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

section{
    display: grid;
    grid-template-rows: 650px;
    width: 100%;
    color: black;
    background-color: white;
    justify-items: center;
    align-items: center;
}

section:nth-child(1){
    background-color: black;
    color: white;
}

.sectionLeft{
    grid-template-columns: clamp(495px, 50vw, 610px) 1fr;
}

.sectionRight{
    grid-template-columns: 1fr clamp(495px, 50vw, 610px);
}

.text--content{
    padding: 30px;
    align-items: center;
    width: max(80%, 387px);
}

.content--h1{
    margin: 0px;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 6px;
}

.content--paragraph{
    line-height: 25px;
}

.image--content{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/*Media Queries*/
@media only screen and (max-width: 850px) {
    /*Mobile*/
    .default {
      display: none;
    }
    .mobile, .mobileNav{
        display: flex;
    }

    .herosection{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
  }