@font-face {
    font-family: MainFont;
    src: url(fonts/DMSans-Regular.ttf);
}

*{
    box-sizing: border-box;
}

html{
    display: flex;
    justify-content: center;
}

html, body{
    width: 100%;
    font-family: MainFont;
    padding: 0px;
    margin: 0px;
}

body{
    min-height: min-content;
    max-width: 2000px;
    box-shadow: 0px 0px 10px 3px lightgrey;
}

a{
    all: unset;
}

/*Nav Styles*/
nav{
    width: 100%;
    height: 72px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
}

.nav--logo{
    height: 16px;
    width: auto;
    cursor: pointer;
}

.nav--links{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav--link{
    transition: color 0.15s ease;
}

.nav--link:hover{
    color: #B3B3B3;
}

.nav--link{
    margin: 37px;
    cursor: pointer;
}

.mainButton{
    all: unset;
    cursor: pointer;
}

.nav--button{
    background-color: black;
    color: white;
    padding: 12px 24px 12px 24px;
    transition: 0.15s ease;
}

.nav--button:hover{
    background-color: #DFDFDF;
    color: black;
}

.hamburgerMenu{
    width: 20px;
    height: 6px;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    padding: 10px;
}

.hamburgerMenu>span{
    display: block;
    content: "";
    height: 1px;
    background-color: black;
    width: 100%;
    transform-origin: 50% 50%;
    position: absolute;
    transition: 0.2s ease;
}

.span1{
    top: 5px;
}

.span2{
    bottom: 5px;
}

.span1Active{
    transform: rotate(45deg) translateY(-50%);
    top: 50%;
}

.span2Active{
    transform: rotate(-45deg) translateY(-50%);
    top: 50%;
}

.mobile{
    display: none;
}

.mobileNav{
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    letter-spacing: 2.5px;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s ease;
    font-weight: bold;
}

.mobileNavActive{
    max-height: 100vh;
}

.separator{
    width: min(310px, 80%);
    background-color: #979797;
    height: 1px;
    border-radius: 3px;
}

.mobileNav:nth-child(2)>div>a>div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mobileNav> button{
    padding: 14px 68px 14px 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}
/*Main Sections*/
section{
    display: grid;
    grid-template-rows: 700px;
    width: 100%;
    color: black;
    background-color: white;
    justify-items: center;
    align-items: center;
    position: relative;
}

section:nth-child(1){
    background-color: black;
    color: white;
}

section:nth-child(1)>.text--content::after, .beta--banner::after{
    left: 0px;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 6px;
    position: absolute;
    background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
}

section:nth-child(1)>.content--paragraph{
    color: #999999;
}

.sectionLeft{
    grid-template-columns: clamp(495px, 45vw, 650px) 1fr;
}

.sectionLeft>img{
    order: 1;
}

.sectionRight{
    grid-template-columns: 1fr clamp(495px, 45vw, 650px);
}

.sectionRight>img{
    order: -1;
}

.text--content{
    padding: 40px;
    align-items: center;
    width: max(80%, 387px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.content--h1{
    margin: 0px;
    font-size: clamp(35px, 3.5vw, 45px);
    line-height: clamp(44px, 4.4vw, 57px);
    letter-spacing: 6px;
}

.content--paragraph{
    line-height: 25px;
    font-size: clamp(15px, 1vw, 17px);
    color:#666666;
}

.button--content{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.button--content:hover>.inviteArrow{
    transform: translateX(10px);
}

.inviteButton{
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 4px;
}

.inviteArrow{
    margin-left: 18px;
    transition: transform 0.3s ease;
}

.whiteArrow{
    filter: invert(1);
}

.image--content{
    object-fit: cover;
    height: 100%;
    width: 100%;
    min-height: 530px;
}

/*Main Cards*/

.card--container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(1fr, 375px));
}

.card{
    aspect-ratio: 15/20;
    background-size: cover;
    color: white;
    position: relative;
    transition: transform 0.3s ease;
}

.card::after{
    content: "";
    display: block;
    width: 100%;
    height: 0px;
    position: absolute;
    background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
    bottom: 0px;
}

.card:hover{
    transform: translateY(-15px);
}

.card:hover::after{
    height: 5px;
}

.card--content{
    position: absolute;
    bottom: 0px;
    padding: 40px;
    width: 100%;
}

.card--title{
    font-size: 30px;
    margin: 0px;
}

.card--details{
    opacity: 0.8;
}

.card--textContainer::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #979797;
    opacity: 0.2;
}

.card--details:nth-child(1){
    margin-bottom: 8px;
    font-size: 0.9rem;
}

/*Unique Card Backgrounds*/
.card--rows >.card--container:nth-child(1) >.card:nth-child(1){
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 20%, rgba(0, 0, 0, 0.75) 80%), url(/images/stories/desktop/mountains.jpg) no-repeat center center / cover;
}

.card--rows >.card--container:nth-child(1) >.card:nth-child(2){
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 20%, rgba(0, 0, 0, 0.75) 80%), url(/images/stories/desktop/cityscapes.jpg) no-repeat center center / cover;
}

.card--rows >.card--container:nth-child(1) >.card:nth-child(3){
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 20%, rgba(0, 0, 0, 0.75) 80%), url(/images/stories/desktop/18-days-voyage.jpg) no-repeat center center / cover;
}

.card--rows >.card--container:nth-child(1) >.card:nth-child(4){
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 20%, rgba(0, 0, 0, 0.75) 80%), url(/images/stories/desktop/architecturals.jpg) no-repeat center center / cover;
}


.card--rows >.card--container:nth-child(2) >.card:nth-child(1){
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 20%, rgba(0, 0, 0, 0.75) 80%), url(/images/stories/desktop/world-tour.jpg) no-repeat center center / cover;
}

.card--rows >.card--container:nth-child(2) >.card:nth-child(2){
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 20%, rgba(0, 0, 0, 0.75) 80%), url(/images/stories/desktop/unforeseen-corners.jpg) no-repeat center center / cover;
}

.card--rows >.card--container:nth-child(2) >.card:nth-child(3){
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 20%, rgba(0, 0, 0, 0.75) 80%), url(/images/stories/desktop/king-on-africa.jpg) no-repeat center center / cover;
}

.card--rows >.card--container:nth-child(2) >.card:nth-child(4){
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 20%, rgba(0, 0, 0, 0.75) 80%), url(/images/stories/desktop/trip-to-nowhere.jpg) no-repeat center center / cover;
}


.card--rows >.card--container:nth-child(3) >.card:nth-child(1){
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 20%, rgba(0, 0, 0, 0.75) 80%), url(/images/stories/desktop/rage-of-the-sea.jpg) no-repeat center center / cover;
}

.card--rows >.card--container:nth-child(3) >.card:nth-child(2){
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 20%, rgba(0, 0, 0, 0.75) 80%), url(/images/stories/desktop/running-free.jpg) no-repeat center center / cover;
}

.card--rows >.card--container:nth-child(3) >.card:nth-child(3){
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 20%, rgba(0, 0, 0, 0.75) 80%), url(/images/stories/desktop/behind-the-waves.jpg) no-repeat center center / cover;
}

.card--rows >.card--container:nth-child(3) >.card:nth-child(4){
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 20%, rgba(0, 0, 0, 0.75) 80%), url(/images/stories/desktop/calm-waters.jpg) no-repeat center center / cover;
}


.card--rows >.card--container:nth-child(4) >.card:nth-child(1){
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 20%, rgba(0, 0, 0, 0.75) 80%), url(/images/stories/desktop/milky-way.jpg) no-repeat center center / cover;
}

.card--rows >.card--container:nth-child(4) >.card:nth-child(2){
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 20%, rgba(0, 0, 0, 0.75) 80%), url(/images/stories/desktop/dark-forest.jpg) no-repeat center center / cover;
}

.card--rows >.card--container:nth-child(4) >.card:nth-child(3){
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 20%, rgba(0, 0, 0, 0.75) 80%), url(/images/stories/desktop/somwarpet.jpg) no-repeat center center / cover;
}

.card--rows >.card--container:nth-child(4) >.card:nth-child(4){
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 20%, rgba(0, 0, 0, 0.75) 80%), url(/images/stories/desktop/land-of-dreams.jpg) no-repeat center center / cover;
}

.card--content>.button--content{
    display: flex;
    justify-content: space-between;
}

/*Home Features Section*/
.home--featureSection{
    padding: 150px 0px 150px 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.home--feature{
    width: 350px;
    text-align: center;
    margin: 40px;
}

.home--featureImageContainer{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home--featureText>h2{
    margin: 40px 0px 25px 0px;
}

.home--featureText>p{
    color: #666666;
}

/*Footer*/
footer{
    padding: 65px clamp(40px, 11.8vw,170px) 65px clamp(40px, 11.8vw,170px);
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.footer--LHS{
    width: 50%;
    display: inline-grid;
    grid-template: "a b" "c b";
    grid-template-columns: min-content min-content;
    align-items: start;
}

.footer--logo{
    grid-area: a;
    width: 170px;
    height: auto;
}

.footer--links{
    grid-area: b;
    margin-left: 100px;
    font-size: 12px;
    font-weight: 500;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer--link{
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer--link:hover{
    color: #4C4C4C;
}

.footer--socials{
    grid-area: c;
    display: flex;
    width: 100%;
    margin-top: 85px;
    justify-content: space-between;
}

.footer--socials>a{
    width: 20px;
    height: 20px;
}

.footer--socials>a>img{
    width: 20px;
    height: 20px;
    filter: grayscale(1) brightness(3);
    transition: filter 0.2s ease;
    cursor: pointer;
}

.footer--socials>a>img:hover{
    filter: grayscale(0);
}

.footer--RHS{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 265px;
}

.footer--RHS>*{
    margin: 0px;
}

.copyright{
    color: #808080;
}

/*Features*/
.variant--herosection{
    display: flex;
    margin-bottom: 20px;
}

.variant--herosection>section{
    grid-template-rows: 530px;
}

.beta--banner{
    color: white;
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/shared/desktop/bg-beta.jpg);
    align-items: center;
    padding: 65px clamp(40px, 11.8vw,170px) 65px clamp(40px, 11.8vw,170px);
    position: relative;
}

.beta--banner::after{
    height: 100%;
}

.beta--bannerTitle{
    font-size: clamp(2.25rem,4.2vw,2.5rem);
    letter-spacing: 4px;
    font-weight: bold;
    line-height: 48px;
    padding-right: 15px;
}

.beta--banner>a{
    width: 265px;
}

/*Stories*/
#stories--section{
    background-image: url(images/stories/desktop/moon-of-appalacia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#stories--section>.image--content{
    visibility: hidden;
}

#stories--section span{
    color: #A7AFB5;
}

#stories--section p>span{
    margin-right: 15px;
}

#stories--section>.text--content>p:first-child{
    margin-bottom: 25px;
}

#stories--section>.text--content>p{
    margin: 25px 0px 25px 0px;
}

/*Pricing*/
.price--compareContainer{
    display: flex;
    align-items: center;
    margin-top: 110px;
    flex-direction: column;
}

.toggle--container{
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.15rem;
    font-weight: 600;
    margin-bottom: 50px;
}

.toggle{
    width: 64px;
    height: 32px;
    background-color: #DFDFDF;
    border-radius: 16px;
    cursor: pointer;
}

.toggle, .toggle--ball, .toggle span{
    transition: 0.2s ease;
}

.toggleToggle{
    background-color: black;
}

.toggle--ball{
    aspect-ratio: 1/1;
    height: 24px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
}

.ballToggle{
    left: calc(100% - 28px);
    background-color: white;
}

.spanToggle{
    color: #808080;
}

.price--optionsContainer{
    display: flex;
    align-items: center;
    gap: 30px;
}

.price--option{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F5F5F5;
    padding: 48px 56px 48px 56px;
    color: black;
}

.price--option>p:nth-child(1){
    font-size: 1.75rem;
    font-weight: bold;
    margin: 18px;
}

.price--option>p:nth-child(2){
    font-size: 1.1rem;
    color: #626262;
}

.price--option>p:nth-child(3){
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 2.5rem;
    font-weight: bold;
}

.price--option>p:nth-child(4){
    margin-top: 0px;
    font-size: 0.9rem;
    color: #626262;
    margin-bottom: 40px;
}

.price--option button{
    all: unset;
    width: 270px;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 0.75rem;
}

.price--option button:hover{
    color: black;
    background-color: #DFDFDF;
}

/*Media Queries Biggest-Smallest*/

/*Mobile*/

/*Tablet*/
@media only screen and (max-width: 1000px) {
    .footer--LHS{
        width: 50%;
        display: inline-grid;
        grid-template: "a" "b" "c";
        grid-template-columns: min-content min-content min-content;
    }

    .footer--links{
        margin-left: 0px;
        margin-top: 32px;
        justify-content: space-between;
        flex-direction: row;
        gap: 30px;
    }

    .footer--socials{
        margin-top: 70px;
    }
}

@media only screen and (max-width: 850px) {
    .default {
      display: none;
    }
    .mobile, .mobileNav{
        display: flex;
    }

    .herosection{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    /*Main Sections*/
    .sectionLeft,.sectionRight{
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 0.9fr;
    }
    .sectionLeft>img{
        order: -1;
    }
    .text--content{
        padding: 30px;
        width: max(80%, 310px);
        position: relative;
        min-height: 600px;
    }
    section:nth-child(1)>.text--content::after, .beta--banner::after{
        left: 20%;
        width: 200px;
        height: 6px;  
        top: 0px;
        transform: none;
    }
    /*Footer*/
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer--LHS{
        display: inline-grid;
        grid-template: "a" "c" "b";
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;
        justify-items: center;
    }

    .footer--RHS{
        margin-top: 120px;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }

    .footer--socials{
        margin-top: 32px
    }

    .footer--links{
        flex-direction: column;
        margin-top: 50px;
        text-align: center;
        font-size: 15px;
        height: 150px;
        gap: 0px;
    }
    /*Beta Banner*/
    .beta--banner{
        flex-direction: column;
        align-items: flex-start;
    }

    /*Stories*/
    #stories--section>.image--content{
        visibility: visible;
    }

    #stories--section{
        background: black;
    }
}


